<!-- wp:template-part  { "slug": "header", "tagName": "header", "className": "rs__header" } /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:post-featured-image /-->

    <!-- wp:post-title {"level":1} /-->

    <!-- wp:group {"className":"rs__post-meta-link","layout":{"type":"constrained"}} -->
    <div class="wp-block-group rs__post-meta-link"><!-- wp:post-author {"showAvatar":false,"byline":"Posted By: ","isLink":true} /-->
        <!-- wp:post-author {"showAvatar":false,"byline":"Posted By: ","isLink":true} /-->
        <!-- wp:post-terms {"term":"category","prefix":"Posted In: "} /-->

        <!-- wp:post-date /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:post-content /-->

    <!-- wp:tag-cloud /-->
    
   <!-- wp:group {"className":"rs__post-nav-links","layout":{"type":"constrained"}} -->
    <div class="wp-block-group rs__post-nav-links">
        <!-- wp:post-navigation-link {"type":"previous","showTitle":true,"arrow":"arrow","className":"rs__next-prev-link"} /-->

        <!-- wp:post-navigation-link {"showTitle":true,"arrow":"arrow","className":"rs__next-post-link"} /-->
    </div>
    <!-- /wp:group -->
    <!-- wp:latest-comments /-->
    
    <!-- wp:post-comments-form /--></div>
    <!-- /wp:group -->
    
    <!-- wp:paragraph -->
    <p></p>
    <!-- /wp:paragraph -->
    
    <!-- wp:template-part {"slug":"footer","theme":"fse-theme-2023","tagName":"footer","className":"rs__footer"} /-->